<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267244385743-1dhmigj5vklc7sjdeg3jbk58f08ectb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267244385743-1dhmigj5vklc7sjdeg3jbk58f08ectb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDORj-6KwndMgI_6V-BRKQgV4-ZuuSoYUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>267244385743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iustBusTracking</string>
	<key>PROJECT_ID</key>
	<string>iust-bus-tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>iust-bus-tracking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267244385743:ios:af56d0d941da245fcf8eba</string>
</dict>
</plist>